@tailwind base;
@tailwind components;
@tailwind utilities;

.el-button--primary {
  background-color: #0075bd !important;
}

.el-button--primary:hover {
  opacity: 0.8;
}

.is-active {
  background-color: #0075bd !important;
  color: #fff !important;
}

li.el-select-dropdown__item.selected > span {
  color: #0075bd !important;
}

.header-row {
  background-color: #eee !important;
  @apply bg-slate-300 text-black;
}

.el-table-v2__header-cell {
  background-color: #eee !important;
  color: #000 !important;
}

.el-table-v2__header-row {
  background-color: #eee !important;
}
